body {
  font-family: "Montserrat";
  margin: auto;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
}

h2.textError {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
  margin: 150px 0px;
}

h1.Error404 {
  font-weight: 700;
  font-size: 288px;
  margin: 0;
  color: #ff6060;
  margin-top: 50px;
}

a.btn-retour {
  color: black;
  border-bottom: solid 1px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 150px;
}

// RESPONSIF

@media (min-width: 375px) and (max-width: 745px) {
  h1.Error404 {
    font-size: 96px;
    margin-top: 50px;
  }

  h2.textError {
    font-size: 16px;
    font-weight: 500;
    color: #ff6060;
    margin: 100px 0px;
    width: 200px;
  }

  a.btn-retour {
    border-bottom: solid 1px;
    font-size: 14px;
    margin-bottom: 100px;
  }
}
