.banner-title {
  display: flex;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 48px;
}

img.banner-image {
  position: relative;
}

section.position-banner {
  display: flex;
  justify-content: space-between;
}

.Banner {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
