.banner-title {
  display: flex;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 48px;
  text-shadow: 1px 3px 10px #000;
}

img.banner-img {
  height: 223px;
  width: 1240px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

section.position-banner {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: auto;
}

.Banner {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
