p.collapsText {
  display: flex;
}

img.slides-img {
  height: 415px;
  width: 1240px;
  object-fit: cover;
  border-radius: 25px;
  object-position: center;
}

button.arrow {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 90px;
}

.arrow-container {
  position: absolute;
  top: 166px;
  display: flex;
  gap: 1100px;
  
}
.banner-slide {
  position: relative;
  display: flex;
  justify-content: center;
}

@media (min-width: 375px) and (max-width: 768px) {  

  img.slides-img {
  height: 255px;
  width: 335px;
}

.arrow-container {
  top: 100px;
  gap: 270px;
}

button.arrow {
  font-size: 35px;
}

}