.position-collaps-Location.location-collaps {
  display: flex;
  flex-direction: column;
  margin: 100px;
}

.collaps.location-collaps {
  height: 52px;
  width: 542px;
}

.collapsLocation-container {
  display: flex;
  flex-direction: row;
  gap: 76px;
  margin: auto;
  max-width: 1240px;
}

.collapsContent.open.location-collaps {
  max-width: 582px;
}

.collapsContent.location-collaps {
  max-width: 582px;
}
.collapsContentlocation-collaps {
  background: #f6f6f6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 20px;
}

.collapsContent.openlocation-collaps {
  max-height: 500px;
  transition: max-height 0.3s ease;
}
@media (min-width: 375px) and (max-width: 768px) {
  .collapsLocation-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 335px;
  }

  .collaps.location-collaps {
    height: 30px;
    width: 300px;
  }

  .collapsTitle {
    font-size: 13px;
  }
  .collapsContent.location-collaps {
    width: 300px;
    font-size: 12px;
  }
  .collapsContent.openlocation-collaps {
    font-size: 12px;
    width: 300px;
  }
}
